<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Learning</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <%-stylesheets%>
    <script src="/js/jquery-2.0.0.js"></script>
    <script src="/js/app.js"></script>
    <%-scripts%>
  </head>
  <body>
    <%- body -%>
  </body>
</html>